<f:layout name="Default"/>

<!-- Main-Part -->
<div class="main">
    <main class="container">

        <f:section name="Slider">
        <!-- Slider-Part -->
        <section class="slider">
            <f:format.raw>{content4}</f:format.raw>
        </section>
        </f:section>

        <f:section name="Testimonial">
        <!-- Testimonial-Part -->
        <section class="testimonial">
            <f:format.raw>{content0}</f:format.raw>
        </section>
        </f:section>

        <f:section name="Highlights">
        <!-- Highlight-Part -->
        <section class="highlight-part">
            <div class="container">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <f:format.raw>{content1}</f:format.raw>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <f:format.raw>{content3}</f:format.raw>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <f:format.raw>{content2}</f:format.raw>
                </div>
            </div>
        </section>
        </f:section>


        <!-- Newsletter-Part -->
        <section class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 newsletter-sub-head">
                        <h5>lyfes Newsletter</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 newsletter-main-head">
                        <h2>Möchten Sie immer über neue Kurse informiert werden?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 newsletter-main-head">
                        <div class="form-group">

                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Bitte geben Sie Ihre Email-Adresse ein" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 newsletter-main-head">
                        <input type="submit" class="btn btn-success btn-send newsletter-button" value="Senden">
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- Main -->