<!-- Kontakt-Part -->
    <section class="contact-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 cols-xs-12">
                    <h3 class="contact-header">Persönlicher Kontakt ist uns wichtig</h3>
                    <h5 class="contact-header-small">Bitte hinterlassen Sie uns eine Nachricht und wir melden uns bei Ihnen.</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 cols-xs-12">

                    <div class="row contact-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_name">Vorname </label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Bitte geben Sie Ihren Vornamen ein" required="required" data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_lastname">Nachname </label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Bitte geben Sie Ihren Nachnamen ein" required="required" data-error="Lastname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_email">Email-Adresse</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Bitte geben Sie Ihre Email-Adresse ein" required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Ihr Nachricht</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Nachricht ..." rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send contact-button" value="Senden">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>