<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                <img src="../typo3conf/ext/lyfes_template/Resources/Public/img/lyfes-logo.png" class="lyfes-logo-small" width="200px;"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                <h4 class="footer-header">Was wir tun</h4>
                <p class="footer-text">
                    Wir von lyfes haben uns zum Ziel gesetzt, Ihnen mit Freude dabei zu helfen, GESUND zu bleiben oder zu werden, fitter durchs LEBEN zu gehen und zu LERNEN, wie einfach das auch im Alltag sein kann.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                <h4 class="footer-header">Kontakt</h4>
                <p class="footer-text">
                    lyfes GmbH<br />
                    Weinbergstraße 49<br />
                    55299 Nackenheim<br />
                    <br />
                    info@lyfes.de
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2569.2749885494554!2d8.339381315872142!3d49.91241343386658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd9ae2ef98d0e1%3A0x52eeda3d6f52c475!2sWeinbergstra%C3%9Fe+49%2C+55299+Nackenheim!5e0!3m2!1sde!2sde!4v1524148081942" width="250px" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="footline" />
    </div>

    <div class="container subfooter">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-sm-12 sub-left">
                <f:cObject typoscriptObjectPath="lib.copyright"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-sm-12">
                <f:cObject typoscriptObjectPath="lib.metanav"/>
            </div>
        </div>
    </div>
</footer>